@tailwind base;
@tailwind components;
@tailwind utilities;

@property --num {
  syntax: '<integer>';
  initial-value: 0;
  inherits: false;
}

.supports-counter-set::before {
  content: counter(num) !important;
}

.transition-[_--num] {
  transition-property: --num;
}

.supports-[counter-set]:sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.property-card {
  transition: transform 0.2s;
}

.property-card:hover {
  transform: scale(1.05);
}